.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px;
    padding: 1px
}

.order-area {
    background: rgba(255, 153, 0, 0.3);
    padding: 40px 80px;
}